@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background: url(https://img.freepik.com/free-vector/blue-fluid-background_53876-114597.jpg);
    background-size: cover;
}
nav {
    width: 100%;
    height: 7vw;
    background: linear-gradient(125deg, #e61b36, #9c1032);
}
.logo {
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.โล้โก้ {
    font-size: 5vw;
    font-family: "Honk", system-ui;
    width: 7vw;
    object-fit: contain;
}
.topic1 {
    font-size: 2vw;
    color: goldenrod;
}
.ปุ่มเปลื่ยนภาษา {
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    height: 40px;
    width: 60px;
    margin: 10px;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
    background: #fff;
    color: #9b59b6;
}
.ปุ่มเปลื่ยนภาษา:hover {
    color: #fff;
    background: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.เมนูเลือก-a-2 {
    align-items: center;
    text-align: center;
    border: none;
    height: 45px;
    width: 8vw;
    margin: auto;
    margin-left: 18.9vw;
    margin-top: 1vw;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    background: #1abc9c;
    color: #fff;
}
.เมนูเลือก-a-3 {
    align-items: center;
    text-align: center;
    border: none;
    height: 45px;
    width: 8vw;
    margin: auto;
    margin-left: 18.9vw;
    margin-top: 1vw;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    background: #e74c3c;
    color: #fff;
}
.เมนูเลือก-a-4 {
    align-items: center;
    text-align: center;
    border: none;
    height: 45px;
    width: 8vw;
    margin: auto;
    margin-left: 18.9vw;
    margin-top: 1vw;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    background: #9b59b6;
    color: #fff;
}
.เมนูเลือก-a-2:hover {
    color: #fff;
    background: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.เมนูเลือก-a-3:hover {
    color: #fff;
    background: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.เมนูเลือก-a-4:hover {
    color: #fff;
    background: gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.tag1 {
    color: goldenrod;
    margin-top: 20px;
}
h1 {
    text-align: center;
    margin: auto;
    font-size: 48px;
    width: 300px;
    border-bottom: 3px solid black;
}
.img {
    margin-top: 50px;
    text-align: center;
}
.img img{
    margin: auto;
    width: 150px;
    height: 200px;
    background: #333;
    border: 3px solid gold;
    border-radius: 50%;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.text {
    font-family: "Noto Serif Thai", serif;
    text-align: center;
    width: 40vw;
    height: 20vw;
    margin: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-top: 20px;
}
span {
  font-family: "Noto Serif Thai", serif;
  background: -webkit-linear-gradient(#499bea,#207ce5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2vw;
}
footer {
    background: linear-gradient(125deg, #e61b36, #9c1032);
    width: 100%;
    height: 8vw;
}
.under {
    color: silver;
    text-align: center;
    margin-top: 2vw;
    font-size: 1.25vw;
}
.nameผู้สร้าง {
    text-align: center;
    font-size: 1.25vw;
    color: #fff;
}
.ข้อมูลผู้สร้าง {
    margin-top: 0.75vw;
    text-align: center;
}
.คำพูด1 {
    text-align: center;
    font-size: 1vw;
    color: #fff;
}